@import url("./overpass.css");
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/*

8b       d8 ,adPPYYba, 8b,dPPYba, ,adPPYba,
`8b     d8' ""     `Y8 88P'   "Y8 I8[    ""
 `8b   d8'  ,adPPPPP88 88          `"Y8ba,
  `8b,d8'   88,    ,88 88         aa    ]8I
    "8"     `"8bbdP"Y8 88         `"YbbdP"'

*/

:root {
  --white: #f8f9fa;
  --white-off-1: #e5e5e5;
  --white-off-2: #ced4da;


--hunter-green: #386641ff;
--may-green: #6a994eff;
--android-green: #a7c957ff;
--eggshell: #f2e8cfff;
--bittersweet-shimmer: #bc4749ff;

--app-1: var(--may-green);
--app-2: var(--hunter-green);
--app-3: var(--android-green);
--app-4: var(--eggshell);
--app-5: var(--bittersweet-shimmer);
}/*/root*/

.app-copy-1{color: var(--app-1);}
.app-bg-1{background-color: var(--app-1);}
.app-copy-2{color: var(--app-2);}
.app-bg-2{background-color: var(--app-2);}
.app-copy-3{color: var(--app-3);}
.app-bg-3{background-color: var(--app-3);}
.app-copy-4{color: var(--app-4);}
.app-bg-4{background-color: var(--app-4);}
.app-copy-5{color: var(--app-5);}
.app-bg-5{background-color: var(--app-5);}


.app-copy-1-off-1{color: var(--app-1);filter: opacity(.55);}
.app-copy-1-off-2{color: var(--app-1);filter: opacity(.35);}
.app-copy-1-off-3{color: var(--app-1);filter: opacity(.2);}

/*
                                 _,.----.              ,---.        ,-,--.    ,-,--.     ,----.    ,-,--.
                               .' .' -   \   _.-.    .--.'  \     ,-.'-  _\ ,-.'-  _\ ,-.--` , \ ,-.'-  _\
                              /==/  ,  ,-' .-,.'|    \==\-/\ \   /==/_ ,_.'/==/_ ,_.'|==|-  _.-`/==/_ ,_.'
                              |==|-   |  .|==|, |    /==/-|_\ |  \==\  \   \==\  \   |==|   `.-.\==\  \
                              |==|_   `-' \==|- |    \==\,   - \  \==\ -\   \==\ -\ /==/_ ,    / \==\ -\
                              |==|   _  , |==|, |    /==/ -   ,|  _\==\ ,\  _\==\ ,\|==|    .-'  _\==\ ,\
                              \==\.       /==|- `-._/==/-  /\ - \/==/\/ _ |/==/\/ _ |==|_  ,`-._/==/\/ _ |
                               `-.`.___.-'/==/ - , ,|==\ _.\=\.-'\==\ - , /\==\ - , /==/ ,     /\==\ - , /
                                          `--`-----' `--`         `--`---'  `--`---'`--`-----``  `--`---'
            */
.app-white{color: var(--white);}
.app-white-off-1{color: var(--white-off);}
.app-white-off-2{color: var(--white-off-off);}

.app-copy-on{color: var(--app-5);}
.app-copy-off{color: var(--app-4);}


/*
           ,,           ,,                   ,,
         `7MM          *MM                 `7MM
           MM           MM                   MM
 .P"Ybmmm  MM  ,pW"Wq.  MM,dMMb.   ,6"Yb.    MM  ,pP"Ybd
:MI  I8    MM 6W'   `Wb MM    `Mb 8)   MM    MM  8I   `"
 WmmmP"    MM 8M     M8 MM     M8  ,pm9MM    MM  `YMMMa.
8M         MM YA.   ,A9 MM.   ,M9 8M   MM    MM  L.   I8
 YMMMMMb .JMML.`Ybmd9'  P^YbmdP'  `Moo9^Yo..JMML.M9mmmP'
6'     dP
Ybmmmd'

*/

::selection {
	color: white;
  background: hsla(202,
66%,
39%,
1); /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: white;
  background: hsla(202,
66%,
39%,
1); /* Gecko Browsers */
}

input{
      font-family: 'Passion One', cursive;
}


::-webkit-progress-value {
  background-color: var(--app-1);
}

::-moz-progress-bar {
  background-color: var(--app-1);
}

progress[value] {
  width: 100%;
  height: 12px;
  border-radius: 2px;
}